@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 2.2em; 
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 2.0em; 
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.8em; 
        }
    }
